################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WinFormsApp4(zema 3 zadaniya srazy)/obj
/.vs
/.gitignore
/.gitignore
